<footer class="bg-light text-center w-75 container-fluid">
  <!-- Grid container -->
  <div class="container p-4">
    A simple project with Python. flask, SQLite and plotly visualisation
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 w-100" style="background-color: rgba(0, 0, 0, 0.2)">
    Created by &nbsp;
    <a class="text-dark" href="https://gvsanthu10.github.io/" target="_blank" rel="noopener noreferrer">Santhosh</a>
  </div>
  <div class="text-center p-3 w-100" style="background-color: rgba(0, 0, 0, 0.2)">
    Forked by &nbsp;
    <a class="text-dark" href="https://codingeologist.github.io/" target="_blank"
      rel="noopener noreferrer">codingeologist</a>
  </div>
  <!-- Copyright -->

</footer>